.home-layout {
  .loading {
    margin-top: 50px;
    text-align: center;
  }

  .error-message {
    margin-top: 50px;
    text-align: center;
  }

  %property-title {
    font-size: $property-title-font-size;
    font-weight: $property-title-font-weight;
    margin: 32px 0 20px;
    text-align: center;
  }

  %property-list {
    padding: 16px;
    border: 1px dashed $property-list-border-color;
  }


  .property-results {
    .results-title {
      @extend %property-title;
    }
    .results-list {
      @extend %property-list;
    }
  }

  .property-saved {
    .saved-title {
      @extend %property-title;
    }
    .saved-list {
      @extend %property-list;
    }
  }
}
