// Home layout
// ---------------------------
   $property-title-font-size:       $font-size-base * 1.15;
   $property-title-font-weight:     500;
   $property-list-border-color:     #999999;

// Property card component
// ---------------------------
   $property-card-border-color:     #696969;
   $add-property-btn-font-color:    $green;
   $add-property-btn-bg:            lighten($green, 55%);
   $add-property-btn-border:        $green;
   $remove-property-btn-font-color: $red;
   $remove-property-btn-bg:         lighten($red, 40%);
   $remove-property-btn-border:     $red;
   $saved-property-btn-font-color:  $yellow;
   $saved-property-btn-bg:          lighten($yellow, 40%);
   $saved-property-btn-border:      $yellow;
