.property-card {
  position: relative;
  border: 1px solid $property-card-border-color;
  border-radius: 4px;
  margin-bottom: 20px;
  animation: fadeIn .2s linear;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    .property-image img {
      opacity: 0.8;
      transform: scale(1.1);
    }

    .btn {
      cursor: pointer;
      opacity: 1;

      &.saved-btn {
        cursor: auto;
      }
    }
  }

  .property-logo {
    padding: 6px 12px;
    border-radius: 4px 4px 0 0;

    img {
      width: 120px;
      height: auto;
    }
  }

  .property-image {
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: black;

    img {
      width: 100%;
      height: auto;
      opacity: 1;
      transition: all .25s linear;
    }

  }

  .property-price {
    padding: 6px 12px;
  }

  .btn {
    opacity: 0;
    position: absolute;
    width: 180px;
    bottom: 56px;
    left: calc(50% - 90px);
    transition: all .2s linear;
    text-transform: capitalize;

    &:focus {
      box-shadow: none;
    }

    &.add-btn {
      color: $add-property-btn-font-color;
      background-color: $add-property-btn-bg;
      border-color: $add-property-btn-border;
    }

    &.remove-btn {
      color: $remove-property-btn-font-color;
      background-color: $remove-property-btn-bg;
      border-color: $remove-property-btn-border;
    }

    &.saved-btn {
      color: $saved-property-btn-font-color;
      background-color: $saved-property-btn-bg;
      border-color: $saved-property-btn-border;
    }
  }
}
